<% include partials/_header  %>

<div class="d-block bg-light">
        <form action="" class="form-inline">
          <div class="form-group mx-auto">
            <input type="text" class="form-control m-5" placeholder="Nombre inv.">
            <input type="text" class="form-control mr-5" placeholder="Tema">
            <input type="text" class="form-control mr-5" placeholder="Año publicado">
            <a href="/" class="btn btn-success btn-lg">Guardar</a>
          </div>
        </form>
      </div>

<% include partials/_footer %>