<% include partials/_header %>

<div class="d-block bg-dark">
  <form action="" class="form-inline">
    <div class="form-group mx-auto">
      <input type="text" class="form-control m-5" placeholder="Campo1">
      <input type="text" class="form-control mr-5" placeholder="Campo2">
      <input type="text" class="form-control mr-5" placeholder="Campo3">
      <button type="submit" class="btn btn-success btn-lg">Guardar</button>
    </div>
  </form>
</div>

<% include partials/_footer %>